[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/rasta-to-svg-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/rasta-to-svg-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
